*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;

  &:visited {
    color: currentColor;
  }

  &:hover {
    cursor: pointer;
  }
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
  padding: 0;
  background: none;

  &:hover {
    cursor: pointer;
  }
}