:root {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
  --main-font: raleway, sans-serif;
  --accent-font: stix, serif;
  --underline: url(../../images/pattern.svg);
  --accent-border: 1px solid currentColor;
}