<header class="header">
  <h1 class="header__title content-section heading">Карты подскажут</h1>
  <nav class="header__menu content-section">
    <svg
      class="header__logo"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 135 25"
    >
      <use href="../../images/logo.svg#logo"></use>
    </svg>
    @@include('../theme-toggler/theme-toggler.html')
    <!-- <ul class="header__theme-toggler">
      <li>
        <button
          disabled
          data-theme="dark"
          class="button header__theme-button"
        >
          Тёмная
        </button>
      </li>
      <li>
        <button data-theme="light" class="button header__theme-button">
          Светлая
        </button>
      </li>
    </ul> -->
  </nav>
</header>
